
.footer-content {
    display: flex;
}
img.qr-code {
    height: 58px;
    margin-top: 4px;
}
.app-store {
    display: flex;
}
img.googleplay {
    height: 30px;
    width: 80px;
}
a.playstore {
    margin-bottom: 0px;
}
img.appstore {
    height: 30px;
    width: 80px;
}

h3.exclusive {
    margin-right: 96px;
}
a.faq {

    position: relative;
   

    margin-bottom: 10px;
    margin-top: 10px;
}


.social {
    margin-top: 40px;
    margin-right: 20px;
}
footer {
   width: 100%;
   background-color: white;
    margin-top: 80px;
}
#footer-section {
    margin-top: 10px;
}
.footer-content {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 15px;
    width: 100%;
    
}
p.copyright {
    color: black;
}





h3 {
    margin-right: 50px;
    margin-bottom: 10px;
}



.offer {
    font-size: 12px;
    float: inline-end;
    margin-left: 30px;
}
li {
    margin-bottom: 10px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    float: inline-start;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 14px;
    color: #4eb031;
}

.app-store {
    display: flex;
    position: relative;
    top: 45px;
    right: 206px;
}


