.admin {
    display: flex;
    margin-top: 80px;
}

  input#title {
    display: block;
    width: 20rem;
    height: 2rem;
    padding: 0.5rem;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 2rem;

  }
  input#price {
    display: block;
    width: 20rem;
    height: 2rem;
    padding: 0.5rem;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  input#image {
    display: block;
    width: 20rem;
    height: 2rem;
    padding: 0.5rem;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 2rem;
  }
form {
    margin-left: 50px;
}
  textarea {
    display: block;
    width: 20rem;
    height: 4rem;
    padding: 0.5rem;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 2rem;
    

  }

  button.create-btn {
    border: none;
    padding: 1rem;
    width: 21.2rem;
    font-size: 1.2em;
    border-radius: 0.2rem;
    cursor: pointer;
  }
  button.create-btn:hover {
    background-color: #c5c5c5;
  }
  .message {
    font-size: 1.2em;
    text-align: center;
    color: #36a936;
  }
  img.admin-img-admin {
    height: 500px;
    /* width: 73%; */
}
input.img-url {
  display: block;
    width: 20rem;
    height: 2rem;
    padding: 0.5rem;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 2rem;
}